{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body bgcolor="lightgreen">
<h2 align="center">Student Academic Managemnt System</h2>
<br>

<a href="{% url 'studenthome' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{%url 'facultychangepwd'%}">Change password</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'facultycourses' %}">My Courses</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#">Course Content</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'facultylogin'%}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;

<h3 align="right"style="color:Green">Welcome, {{fid}}</h3>
<br><br>

{% block 'body' %}

<p>"I am in Faculty home page"</p>

{% endblock %}

</body>
</html>